@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


/****************************** DIV 1 *************************/
.div1 {
    background-image: url(images/host.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 100% 100%;
    height: 1150px;
    width: 2055px;
  
}

.div1 li {
    display: inline;
    width: 8%;
    height: 10%;
    /*margin-right: 0%;
    margin-left: 0%;*/
    
  }
  .div1 li {
    float: left;
    width: fit-content;
    padding: 0px;
  }
  
  .div1 a {
    display: inline-block;
    padding: 50px;
    /*background-color: #222831;*/
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    margin-left: 41em;
    font-family:  'Dancing Script', Georgia, Times, serif;
    
  }

  .div1 a:hover{
  /*background-color:#14274e;*/
  box-shadow: 0 5px 14px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  opacity: 89;
  transform: scale(0.8)
}

/**************************** you can div ***************************/
.you-can h1{
    color: gray;
    font-family: 'Limelight', cursive;
    margin: 50px 20px 20px 600px;
    font-size: 3em;
}
/**************************** host-1 ************************/
.host-1 img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 100% 100%;
    width: 2055px;
}
/****************************help-you ************************/
.help-you img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 100% 100%;
    width: 2055px;
}

/****************************lets go ************************/
.lets-go img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: 100% 100%;
    width: 2055px;
}
